
@import "variables.scss";
*{
    padding:0;
    margin:0;
}
body{
    height: auto;
    background-color:rgb(51, 51, 61);
}
main{
    height: auto;
}
.padreTitulo{
    background-image: linear-gradient(to left ,  rgb(247, 55, 55) , rgb(220, 20, 60));
         display: grid;
         grid-template-columns: 40% 40% 20%;
         grid-template-rows: 100px 40px;
         height: auto;
         grid-template-areas: "a1 a2 a3"
                              "a1 a5 a6";
         align-items: center;              
}
.hijoUno{
    grid-area: a1;
    justify-items: stretch;
    align-self: start; 

    
    
}
.hijoDos{
      color: rgb(224, 219, 219);
      grid-area: a5;
      font-size: calc( 12px + 1vw);
      justify-self: center;
      align-self: center;
}
.servicio{
    grid-area: a2;
}
.servicio p{
    margin-top: 10px;
    text-align: center;
    line-height: .5;
    color: $colorLetra;
}

h1{

    color: rgb(215, 233, 250);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc( 50px + 1vw);
    padding: 8%;
    margin-bottom: 3px;
    margin-left: 5px;
    font-weight: bolder;
    text-shadow: 2px 2px 1px #fff ;
 }
 .flete{
     grid-area: a3;
     color: $colorLetra;
     height: 40%;
     width: 50%;
 }
.animate__animated{
    animation-iteration-count:calc(5);
}
 .promo{
     display: inline-block;
     margin-left: 4em;
     margin-bottom: 2em;
 }

 #footer{
     display: grid;
     grid-template-columns: 30% 10% 10% 10% 40%  ;
     grid-template-rows: 100px 100px;
     grid-template-areas: "f1 f2 f2 f2 f3"
                          "f4 f5 f6 f7 f8";
    justify-items: center;
    align-items: center;
     background-image: linear-gradient(to left ,  rgb(247, 55, 55) , rgb(220, 20, 60));
     }
.card__Footer{
        grid-area: f1;
        background-image: linear-gradient(to left ,  rgb(247, 55, 55) , rgb(220, 20, 60));
        color: $colorLetra;
        height: 35px;
        margin-top: 5px;
        justify-self:center;
        align-self: flex-start;
}
.footerH3{
    grid-area: f2;
}
.footer__H3{
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 35px;
    color: $colorLetra;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.footerH3 p{
    margin-top: 15px;
    color: $colorLetra;
    text-align: center;
    line-height: 1;
}
.footer__DivH5{
    grid-area: f3;
}
.seguinos{
    align-self:flex-end;
    grid-area: f4;
}
.seguinos h3{
    color: rgb(3, 147, 243);
    border: 1px solid rgb(245, 47, 47);
    border-radius: 5%;
    font-size: 35px;
    font-weight: 700;
}
.footer__H5{
    margin-top: 25px;
    color: $colorLetra;
    text-align: center;
}
.h5__P{
    color: $colorLetra;
    text-align: center;
    line-height: 1;

}

#footer__Facebook{
              grid-area: f5;
}
.bi-facebook:hover{
             color: $colorLetra;
}
.bi-twitter:hover{
             color: $colorLetra;
}
.bi-instagram:hover{
             color: $colorLetra;
}
#footer__Twitter{
    grid-area: f6;
    }
#footer__Instagram{
    grid-area: f7;
}
 #mainProductos{
     display: grid;
     grid-template-columns: 40% 40%;
     grid-template-rows: 400px 400px;
     grid-template-areas: "p1 p2"
                           "p3 p4";
     column-gap: 2em;
     row-gap: 2em; 
     justify-content: center; 
     height: auto;                    
 }
 .ratonaUno{
     margin-top: 2em;
     grid-area: p1;
 }
 .ratonaUno:hover{
     transform: scale(1.1, 1.1);
 }
 .ratonaDos{
     margin-top: 2em;
     grid-area: p2;
 }
 .ratonaDos:hover{
     transform: scale(1.1, 1.1);
 }
.lamparaUno{
    grid-area: p3;
}
.lamparaUno:hover{
    transform: scale(1.1,1);
}
.lamparaDos{
    grid-area: p4;
}
.lamparaDos:hover{
    transform: scale(1.1,1);
}
#menuNav{
    background-color:rgb(51, 51, 61);
    top: 0pt;
}

   
    .cUno{
        color: $colorLetra;
    }    
    .cDos, .cTres, .cCuatro, .cCinco{
                       @extend .cUno;}
   
    
    #padre{ 
        display: grid;
        grid-template-columns: 5% 15% 15% 15% 15% 15% 5%;
        grid-template-rows: 45px;
        grid-template-areas: "n1 n2 n3 n4 n5 n6 n7";
        background-color: rgb(51, 51, 61);
        height: 3em;
        column-gap: 1em;
    }
    #public{
        display: grid;
        grid-template-columns: 15% 30% 30% 20%;
        grid-template-rows: "10px 300px 10px 300px 10px 10px";
        grid-template-areas: "v1 v2 v2 v3"
                             "v4 v5 v5 v6"
                             "v7 v8 v8 v9"
                             "v10 v11 v11 v12"
                             "v13 v14 v14 v15"
                             "v16 v17 v17 v18";
        background-color: rgb(51, 51, 61);
        height: 950px;
        column-gap: 10px;
    }
    .card{
        grid-area: v6;
        width: 100%;
        height: 100%;
    }
    .card__Dos{
        grid-area: v12;
        width: 100%;
        height: 100%;
        background-color: rgb(247, 234, 218);
    }
    .card__Tres{
        grid-area: v10;
        width: 100%;
        height: 100%;
        background-color: rgb(247, 234, 218);
    }
    .card__Cuatro{
         grid-area: v4;
         width: 100%;
         height: 100%;
         background-color: rgb(247, 234, 218);
    }
    #seccionTrabajo{
           display: grid;
           background-color: rgb(215, 233, 250);
           grid-template-columns: 45% 45%;
           grid-template-rows: 376px 376px;
           grid-template-areas: "t1 t2"
                                "t3 t4";
           justify-content: center;
           align-content: center;
           column-gap: 2%;
           row-gap: 10px;
           height: 800px;
    }
    @mixin estiloTrabajo{
         width: $fullWidth;
         height: $fullHeight;
         border-radius: $borderRadius;
}
    .trabajoUno{
        @include estiloTrabajo;
          grid-area: t1;
    }
    .trabajoUno:hover{
             transform: scale(1.1,1.1);
    }
    .trabajoDos:hover{
        transform: scale(1.1,1.1);
    }
    .trabajoTres:hover{
        transform: scale(1.1,1.1);
    }
    .trabajoCuatro:hover{
        transform: scale(1.1,1.1);
    }
    .trabajoDos{
        @include estiloTrabajo;
          grid-area: t2;
    }
    .trabajoTres{
        @include estiloTrabajo;
        grid-area: t3;
    }
    .trabajoCuatro{
        @include estiloTrabajo;
        grid-area: t4;
    }
   
    .video{
        grid-area: v5;
        width: 100%;
        height: 100%;
    }
    .videoMesa{
        grid-area: v11;
        width: 100%;
        height: 100%;
    }
    .armando{
        color: rgb(215, 233, 250);
        grid-area: v2;
        font-size: 2em;
        font-weight: 600;
        background-color:rgb(51, 51, 61);
        justify-self:left;
        align-self:flex-end;
    }
    .armandoMesa{
        grid-area: v8;
        color: rgb(215, 233, 250);
        font-size: 2em;
        font-weight: 600;
        background-color:rgb(51, 51, 61);
        justify-self:left;
        align-self:flex-end;
    }
    .rotuloP{
        color: rgb(215, 233, 250);
    }
    #hijoUno{
        grid-area: n2;
        display: inline-block;
        margin-top: 1em;
        justify-items: center;
        align-items: center;
       }
#hijoDos{
   grid-area: n3;
   display: inline-block;
   margin-top: 1em;
   justify-items: center;
   align-items: center;
}
#hijoTres{
   grid-area: n4;
   display: inline-block;
   margin-top: 1em;
   justify-items: center;
   align-items: center;
}
#hijoCuatro{
   grid-area: n5;
   display: inline-block;
   margin-top: 1em;
   justify-items: center;
   align-items: center;
}
#hijoCinco{ 
   grid-area: n6;
   display: inline-block;
   margin-top: 1em;
   justify-items: center;
   align-items: center;
}
.button{
    width: 100%;
    height: 100%;
    background-color: rgb(220, 20, 60);
    border-color: rgb(215, 233, 250);
}
.button:hover{
   background-color:rgb(247, 1, 50); 
   transform: scale(1 , 1.2);
}
img{
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
    height: 100%;
}
#main{
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 10% 50% 20% 17%;
    grid-template-rows: 60px 300px 300px 80px 80px;
    grid-template-areas: "m2 m2 m3 m3"
                         "m5 m5 m6 m6"
                         "m5 m5 m6 m6"
                         "m10 m11 m12 m13"
                         "m14 m15 m16 m17";
    background-color:   rgb(51, 51, 61);
    height: 850px; 
    column-gap: 7px;            
}
.iconos{
    grid-area: m15;
    display: inline-block;
    background-color:rgb(231, 194, 151); 
    }
.iconos div{
    display: inline-block;
    margin-top: 10px;
    margin-left: 120px;
}
.iconos img{
    color:#fff
}
.dolar{
    grid-area: m14;
    
}
.dolarHoy{
    background-color: rgb(231, 194, 151);
    color: rgb(11, 13, 14);
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
.dolarHoy:hover{
    background-color: darkgreen;
    color: rgb(14, 13, 13);
    font-weight: 700;
}
#whatsapp{
    grid-area: m12;
    justify-self: center;
}
.bi-whatsapp{
    color: rgb(244, 250, 246);
    background-color: darkgreen;
    border-radius: 20%;
}
.bi-whatsapp:hover{
        color: rgb(252, 247, 247);
        background-color: rgb(18, 223, 18);
}
.contactanos{
    grid-area: m13;
    background-color: rgb(231, 194, 151);
    border-radius: 3%;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    justify-self: start;
}
.contactanos p{
    text-align: center;
    color:rgb(11, 13, 14);
    font-weight: 600;
}
.d-block w-100{
    height: 100%;
    width: 100%;
    }

#queHacemos{
    margin-top: 15px;
    grid-area: m2;
    justify-items: center;
    color: white;
    border-color: solid rgb(51, 51, 61) ;
}
.queHacemos{
   width: 100%;
   height: 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
   background-color:rgb(51, 51, 61);
}
.queHacemos:hover{
    transform: scale(1,1.1);
    background-color: gray;
}
.queHacemosHijo{
    color:rgb(215, 233, 250)
}
.hacemos{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 85%;
    margin-left: 30px;
}
.hacemos__hacemos{
    margin-top: 20px;
    font-size: 40px;
    color:rgb(215, 233, 250);
}
.texto{
      font-size: 25px;
      color: rgb(245, 246, 248);
      text-align: justify;
      line-height: 1.5;
}
#dondeEstamos{
    margin-top: 15px;
    grid-area: m3;
    color: rgb(215, 233, 250);
    align-items: center;
    justify-items: stretch;
     }
.donde{
   color: rgb(215, 233, 250);
   width: 100%;
   height: 100%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
   background-color:rgb(51, 51, 61);
}
#portada{
    margin-top: 20px;
   grid-area: m5;
   width: auto;
   height: 100%;
}
#mapa{
    margin-top: 20px;
    width: 100%;
    height: 91%;
    grid-area: m6;
    align-self: auto;
}
#presupuesto{
    grid-area: m11;
    border-radius: 3%;
}
#presupuesto:hover{
            color: rgb(255, 255, 255);
}

 .presupuestoHijo{
    background-color: rgb(231, 194, 151);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    width: 100%;
    height: 100%;
    justify-self: center;
    margin-bottom: 10px;
    border: solid rgb(248, 237, 207) 2px;
}  
.presupuestoHijo:hover{
         background-color:  rgb(247, 65, 65);
          color: $colorLetra;
}
.consulta{
   color:rgb(11, 13, 14);
   font-weight: 500;
}
.consulta:hover{
    color: $colorLetra;
    font-weight: 800;
}
.paga{
    background-color: rgb(231, 194, 151);
    grid-area: m14;
    padding-top: 10px;
    color:rgb(11, 13, 14);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border: solid rgb(248, 237, 207) 2px;
    border-radius: 3%;
}
.qusa{
    grid-area: f8;
    text-align: center;
    font-weight: 600;
    justify-self: center;
    align-self: end;
}
#mainContacto{
   background-color: rgb(17, 47, 68);
   height: auto;
   color: #fff;
}
.container{
    padding: 60px;
    height: 800px;
    width: 700px;
}
  @media only screen and (max-width: 600px){
        
     #main{
            row-gap: 10px;
            column-gap: 4px;
            grid-template-columns: 45% 45%;
            grid-template-rows: 80px 300px 80px 300px 120px 100px 100px;
            grid-template-areas: "q1 q1" 
                                 "q2 q2"
                                 "q3 q3"
                                 "q4 q4"
                                 "q5 q6"
                                 "q7 q8"
                                 "q9 q10";
            height: auto;                     
            }
        #queHacemos{
            grid-area: q1;
            justify-items: center;
            width: 100%;
            height: 100%;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .texto{
            font-size: 13px;
            color: rgb(245, 246, 248);
            text-align: justify;
      }
        #portada{
            grid-area: q2;
            width: 100%;
            height: 100%;
        }
        #dondeEstamos{
            grid-area: q3;
            align-items: center;
            justify-items: stretch;
        }
        #mapa{
            grid-area: q4;
            width: 100%;
            height: 100%;
        }
        #presupuesto{
            grid-area: q5;
            width: min-content;
            height: 70%;
            width: 100%;
            justify-self: center;
            align-self: center;
            background-color: $colorFondo;
            color: $colorLetra;
            border: none;
        }
        .presupuestoHijo{
            background-color: $colorFondo;
            color: $colorLetra;
            border: none;
        }
        .consulta{
            font-size: 20px;
            background-color: $colorFondo;
            color: $colorLetra;
            border: none;
        }
        #whatsapp{
            grid-area: q6;
            height: 60%;
            width: 100%;
            align-self: center;
            margin-left: 130px;
            }
            .iconos{
                grid-area: q8;
                display: inline-block;
                background-color: $colorFondo;


            }
        .iconos div{
            display: inline-block;
            justify-items: center;
            width: 25%;
            margin-left: 8px;
            margin-top: 21px;
        }
        .paga{
            grid-area: q7;
            width: 100%;
            height: 100%;
            justify-self: center;
            align-self: center;
            background-color: $colorFondo;
            color: $colorLetra;
            border: none;
        }  
        .contactanos{
            grid-area: q9;
            width: 100%;
            height: 100%;
            justify-self: center;
            align-self: center;
            background-color: $colorFondo;
            color: $colorLetra;
            border: none;
        }
        .contactanos p{
            color: $colorLetra;
        }
        .dolar{
            grid-area: q10;
            width: 100%;
            justify-self: center;
            align-self: center;
            background-color: $colorFondo;
        }
        .dolarDiv{
            height: 100px;
            background-color: $colorFondo;
           }
        .dolar button{
            background-color: $colorFondo;
            color: $colorLetra;
            border: none;
        }
        #footer{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 120px 80px 150px 150px 30px;
            grid-template-areas: "f1"
                                 "f2"
                                 "f3"
                                 "f4"
                                 "f5";
            margin-top: 10px;
            justify-content: center;
            align-items: center;
            height: 580px;
            row-gap: 10px;
        }
        .footerH3{
            grid-area: f1;
            width: 100%;
            height: 70px;
            align-self: start;
            background-image: linear-gradient(to left ,  rgb(247, 55, 55) , rgb(182, 12, 46));
        }
        
        .card__Footer{
            grid-area: f3;
           width: 100%;
           background-image: linear-gradient(to left ,  rgb(247, 55, 55) , rgb(182, 12, 46));
        }
        .card-body h5{
            grid-area: f3;
            width: 100%;
           }
        #footer__Facebook{
            grid-area: f2;
            justify-self: center;
        }
        #footer__Twitter{
            display: none;
        }
        #footer__Instagram{
            display: none;
        }
      
        .footer__DivH5{
             grid-area: f4;
        }
        .footer__H5{
            background-image: linear-gradient(to left ,  rgb(247, 55, 55) , rgb(182, 12, 46));
        }
        .qusa{
            grid-area: f5;
        }




          
        *header{
            height: 180px;
            border-bottom: none;
        }
        .padreTitulo{
             grid-template-columns: 50% 50%;
             grid-template-rows: 100px 80px;
             grid-template-areas: "t1 t2"
                                  "t3 t4";
             justify-items: center;
             align-items: center;
             background-image: linear-gradient(to left ,  rgb(247, 55, 55) , rgb(182, 12, 46)); 
        }
        .hijoUno{
            grid-area: t1;
            justify-self: center;
            align-self: center;
            
        }
        .titulo{
            font-size: 30px;
            text-align: center;
            display: inline-block;
            font-stretch: semi-expanded;
            overflow: hidden;
            margin-bottom: 0;
            font-weight: bolder;
            text-shadow: 2px 2px 1px #fff ;
        }
        .hijoDos{
            grid-area: t4;
        }
        .hijoDos p{
            font-size: 13px;
            color: rgb(240, 238, 238);
            text-align: center;
            margin-top: 25px;
            background-image: linear-gradient(to left ,  rgb(247, 55, 55) , rgb(182, 12, 46)); 
        }
        .servicio{
            grid-area: t3;
            font-size: .7em;
        }
        .flete{
            grid-area: t2;
            height: 20px;
            width: 50px;
            color: rgb(58, 172, 248);
            margin-bottom: 30px;
        }
        
    #mainProductos{
        display: grid;
        grid-template-columns: 95%;
        grid-template-rows: 200px 20px 200px 20px 200px 20px 200px;
        grid-template-areas: "pr1"
                             "pr2"
                             "pr3"
                             "pr4"
                             "pr5"
                             "pr6"
                             "pr7";
         row-gap: 20px;  
         justify-content: center;  
         height: 1100px;
         justify-items: center;
         align-items: center;                
    }
    .ratonaUno{
        grid-area: pr1;
        height: 100%;
        border-radius: 3%;
    }
    .ratonaDos{
        grid-area: pr3;
        height: 100%;
        border-radius: 3%;
    }
    .lamparaUno{
        grid-area: pr5;
        height: 100%;
        border-radius: 3%;
    }
    .lamparaDos{
        grid-area: pr7;
        height: 100%;
        border-radius: 3%;
    }
    .rotuloP{
        font-size: 20px;
    }
    #public{
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 40px 250px 40px 250px 350px 230px 200px 230px;
        grid-template-areas: "v1"
                             "v2"
                             "v3"
                             "v4"
                             "v5"
                             "v6"
                             "v7"
                             "v8";
        justify-content: justify;
        justify-items: center;
        align-items:stretch;
        row-gap: 7px;
        height: 1650px;
    }
    .armando{
        grid-area: v1;
        font-size: .9em;
        margin-left: 10px;
    }
    .video{
        grid-area: v2;
        width: 100%;
        height: 250px;
    }
    *iframe{
        width: 100%;
    }
    .armandoMesa{
        grid-area: v3;
        width: 100%;
        font-size: .9em;
        margin-left: 10px;
    }
    .videoMesa{
        grid-area: v4;
        width: 100%;
        height: 100%;
    }
    .card{
        grid-area: v5;
        width: 100%;
        height: 350px;
       align-self: start;
       }
    .card__Tres{
        grid-area: v6;
        width: 100%;
        height: auto;
        justify-self: start;
        background-image: linear-gradient( to left , rgb(51, 51, 61) , rgb(76, 76, 87));
        color: $colorLetra;
    }
    .card__Dos{
        grid-area: v7;
        width: 100%;
        height: auto;
        justify-self: justify;
    }
    .card__Cuatro{
        grid-area: v8;
        width: auto;
        justify-self: start;
        align-self: auto;
        background-image: linear-gradient( to left , rgb(51, 51, 61) , rgb(76, 76, 87));
        color: $colorLetra;
    }
    #mainContacto{
        display: Grid;
        grid-template-columns: 2% 96% 2%;
        grid-template-rows: 1200px;
        grid-template-areas: "c1 c2 c3";
        justify-content: justify;
        justify-items: center;
        height: 1000px;
        width: 100%;
    }
    .container{
        grid-area: c2;
        justify-self: first baseline;
        width: 100%;
        padding: 20px;
    }

 }

   .pres{
         display: inline-block;
         color: white;
         margin-left: 20%;
     }
     .seguinos{
         color:rgb(215, 233, 250);
         display: inline-block;
         margin: 0em 1em 0em 1em;
         font-size: 15px;
     }
     